.simple-calendar {
  .calendar-heading{
    .previous-week{
      a {
      padding-left: 50px;
      color:#167acb;
      font-weight: bold;
      display: inline-block;
      text-decoration:none;
      }
    }
    .next-week{
      float: right;
      a {
      padding-right: 50px;
      color:#167acb;
      font-weight: bold;
      display: inline-block;
      text-decoration:none;
      }
    }
  }

  .day {
    background-color: #167acb;
    text-align: center;
    color:#fff;
    font-weight: bold;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}

.hide{
    display: none;
}

body{
}

.container{
  text-align: center;
  h1{
    color: #167acb;
    font-size: 32px;
  }
}

.form-container{
  max-width:600px;
  margin:0 auto;
  text-align:center;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  background-color:#FAFAFA;
  .form-head{
    -webkit-border-radius:6px 6px 0px 0px;
    -moz-border-radius:6px 6px 0px 0px;
    border-radius:6px 6px 0px 0px;
    background-color:#167acb;
    color:#FAFAFA;
    h2 {
      text-align:center;
      padding:18px 0 18px 0;
      font-size: 16px;
    }
  }
  .submit-button{
    input {
    margin-top:15px;
    margin-bottom:25px;
    background-color:#167acb;
    padding: 12px 45px;
    border-radius: 5px;
    border: 1px solid #167acb;
    display: inline-block;
    cursor: pointer;
    color:#fff;
    }
  }
}

a.tgTtip {
    margin: 0;
    text-decoration: none;
    font-size: 1em;
    position: relative;
}

/* 時間 */
.minutes_per_15 {
  font-size: 3px;
  color: #808080;
}

/* 予定 */
.schedule_title{
  font-size: 16px;
  font-weight: bold;
}

.field_with_errors {
  display: inline;
}

.alert {
  color:#f76b68;
  font-weight: bold;
  ul {
    list-style: none;
  }
}

/* ツールチップ */
span.tooltip1 {
    color: #808080;
}

p.tgToolTip {
    margin: 0;
    padding: 0.5em 1em;
    background-color: rgba(50,100,200,0.5);
    min-height: 1em;
    top: 100px;
    left: 20px;
    position: absolute;
    z-index: 100;
    a {
      color: #fff;
      text-decoration: none;
    }
}

.dummy {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
}
